<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17179337544-5m6cv2l435r8o34s6fi5k5g7kru7o8j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17179337544-5m6cv2l435r8o34s6fi5k5g7kru7o8j0</string>
	<key>API_KEY</key>
	<string>AIzaSyDFtN-HEvsHv0GeGn0j5uVr41AmglzEsM0</string>
	<key>GCM_SENDER_ID</key>
	<string>17179337544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.majdiskandarani.TestCaliNode</string>
	<key>PROJECT_ID</key>
	<string>testcalinode</string>
	<key>STORAGE_BUCKET</key>
	<string>testcalinode.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17179337544:ios:2bbb62480557968e6c497d</string>
</dict>
</plist>